@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

@layer base {
    :root {
        --green: #1bae70;
        --dgreen: #06752e;
        --dblue: #152238;
        --red: #f01616;
    }
    
    html {
        @apply font-sans scroll-smooth;
    }

    th, td {
        @apply dark:text-white;
    }
}

@layer components {
    .btn-primary {
        @apply inline-block px-6 py-2.5 bg-purple-500 text-white font-medium text-sm leading-tight rounded shadow-lg hover:bg-purple-600 hover:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out flex justify-center items-center;
    }

    .show {
        @apply max-h-[9999px] !important;
    }

    .modal {
        @apply w-full p-2 px-4 rounded-md text-white;
    }

    .modal p {
        @apply text-lg;
    }

    .modal-sm {
        @apply w-full p-1 px-4 rounded-md text-white;
    }

    .modal-sm p {
        @apply text-sm;
    }
}