@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --green: #1bae70;
        --dgreen: #06752e;
        --red: #d91818;
        --dred: #b31111;
        --lblue: #3457d5;
        --blue: #2240af;
        --dblue: #152238;
    }

    html {
        @apply font-sans scroll-smooth;
    }
}

@layer components {
    .btn-action-link {
        @apply px-6 py-2 text-white rounded-3xl bg-[var(--green)] hover:bg-[var(--dgreen)] transition-all ease-in-out;
    }

    .modal {
        @apply w-full p-2 px-4 rounded-md text-white;
    }

    .modal p {
        @apply text-lg;
    }

    .modal-sm {
        @apply w-full p-1 px-4 rounded-md text-white;
    }

    .modal-sm p {
        @apply text-sm;
    }

    .show {
        @apply max-h-[9999px] !important;
    }

    .hero-section {
        @apply relative;
    }

    .hero-section::before {
        @apply absolute top-0 left-0 w-full h-full bg-[#14261c] opacity-[0.65] content-none;
    }
}