@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --green: #1bae70;
        --dgreen: #06752e;
        --red: #d91818;
        --dred: #b31111;
        --lblue: #3457d5;
        --blue: #2240af;
        --dblue: #152238;
    }

    html {
        @apply font-sans scroll-smooth;
    }

    body * {
        @apply box-border;
    }
}

@layer components {
    .btn-primary {
        @apply px-6 py-2.5 bg-[var(--green)] text-white font-medium text-sm leading-tight rounded shadow-lg hover:bg-[var(--dgreen)] hover:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out flex justify-center items-center;
    }

    .btn-action-link {
        @apply px-6 py-2 text-white rounded-3xl bg-[var(--green)] hover:bg-[var(--dgreen)] transition-all ease-in-out;
    }

    .btn-nav-action-link {
        @apply btn-action-link text-sm px-4 xl:text-base xl:px-6;
    }

    .btn-scroll-down {
        @apply btn-action-link px-0 py-0 w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] text-xl lg:text-3xl text-white rounded-full flex justify-center items-center animate-pulse;
    }

    .btn-back-to-top {
        @apply hidden justify-center items-center fixed bottom-6 right-6 md:bottom-10 md:right-10 w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full text-white text-lg md:text-xl bg-[var(--green)] animate-pulse cursor-pointer z-[99] hover:bg-[var(--dgreen)];
    }

    .btn-back-to-top.show {
        @apply flex;
    }

    .message {
        @apply w-full p-2 px-4 rounded-md text-white;
    }

    .message p {
        @apply text-lg;
    }

    .message-sm {
        @apply w-full p-1 px-4 rounded-md text-white;
    }

    .message-sm p {
        @apply text-sm;
    }

    .show {
        @apply max-h-[9999px] !important;
    }

    .hero-section {
        @apply relative;
    }

    .hero-section::before {
        @apply absolute top-0 left-0 w-full h-full bg-[#14261c] opacity-[0.65] content-none;
    }

    .modal {
        @apply fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] scale-0 bg-white shadow-lg rounded-md w-[450px] max-w-[90%] p-6 flex flex-col gap-8 justify-center transition-all ease-in-out z-[199];
    }

    .modal.active {
        @apply scale-100;
    }

    .overlay {
        @apply fixed top-0 bottom-0 right-0 left-0 bg-[rgba(27,174,112,0.4)] opacity-0 pointer-events-none transition-all ease-in-out z-[99];
    }

    .overlay.active {
        @apply opacity-100 pointer-events-auto;
    }

    .star {
        @apply hidden;
    }

    label.star-label {
        @apply text-5xl text-yellow-200 cursor-pointer transition-all;
    }

    .star:not(:checked) ~ label.star-label:hover,
    .star:not(:checked) ~ label.star-label:hover ~ label.star-label {
        @apply text-yellow-400;
    }

    .star:checked ~ label.star-label {
        @apply text-yellow-400;
    }

    .hero {
        @apply relative min-h-[90vh] text-gray-900 bg-cover bg-center bg-fixed before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#14261c] before:opacity-[0.6] flex justify-center items-center;
    }

    .hero-header {
        @apply relative flex flex-col items-center bg-transparent z-[99];
    }

    .hero-subtitle {
        @apply relative mb-12 text-white md:text-xl text-center before:content-[''] before:absolute before:left-[50%] before:bottom-[-14px] before:w-1/2 before:h-[3px] before:bg-[var(--green)] before:translate-x-[-50%];
    }

    .hero-title {
        @apply mb-20 text-white text-4xl md:text-5xl font-semibold text-center;
    }

    .section {
        @apply max-w-7xl mx-auto py-20 px-4 sm:px-6 lg:px-8 flex flex-col items-center;
    }

    .section-title {
        @apply relative mb-16 text-2xl lg:text-3xl text-center before:content-[''] before:absolute before:left-[50%] before:bottom-[-14px] before:w-1/2 before:h-[3px] before:bg-[var(--green)] before:translate-x-[-50%];
    }

    .cards-container {
        @apply w-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 justify-center items-center;
    }

    .empty-list {
        @apply col-span-3 text-2xl lg:text-3xl text-center font-semibold;
    }

    .filter-card {
        @apply w-full max-w-[1000px] border-[3px] border-solid border-[var(--green)] rounded-lg px-12 py-8 mb-14;
    }

    .filter-container {
        @apply w-full flex flex-col lg:flex-row justify-between items-center gap-6;
    }

    .filters {
        @apply flex gap-4 lg:gap-8;
    }

    .filter {
        @apply w-1/2 lg:w-auto flex gap-3 items-center;
    }

    .filter-label {
        @apply hidden md:block font-semibold;
    }

    .filter-select {
        @apply border-2 border-solid border-[var(--green)] rounded-lg py-1 px-2 pr-4 focus:border-[var(--green)] focus:ring-[var(--green)] focus:ring-offset-0;
    }

    .filter-search {
        @apply max-w-[350px] border-2 border-solid border-[var(--green)] rounded-lg py-1 px-2 focus:border-[var(--green)] focus:ring-[var(--green)] focus:ring-offset-0;
    }

    .filter-search-input {
        @apply w-full px-2 focus:outline-none;
    }

    .section-form {
        @apply relative min-h-[90vh] pb-8 text-gray-900 bg-cover bg-center bg-fixed before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#14261c] before:opacity-[0.6] flex flex-col justify-start items-center;
    }

    .form {
        @apply relative p-6 rounded-lg border-2 shadow-lg bg-[rgba(21,34,56,0.4)] w-[90%] max-w-lg z-[99];
    }

    .form-text {
        @apply w-full px-3 py-1.5 text-gray-700 border border-solid border-gray-300 rounded-md transition ease-in-out resize-none focus:border-[var(--green)] ring-0 focus:ring-0 focus:outline-none dark:bg-dark-eval-1 dark:text-white;
    }

    .form-xl {
        @apply relative w-[90%] max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row gap-6 rounded-lg border-2 shadow-lg bg-[rgba(21,34,56,0.4)] z-10;
    }
}
